body, html {
  background-color: #171c21;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
}

.noTopMargin {
  margin-top: 0;
}

.main-btn-design {
  background-color: #96e654;
  border: none;
  padding: .4em .6em;
  border-radius: 5px;
}

.main-btn-design:hover {
  background-color: rgba(150, 230, 84, 0.7);
}

.main-btn-design a {
  color: #171c21;
  font-weight: 600;
}

.aboutme_img {
  width: 200px;
  height: auto;
  float: left;
  padding: 0 1.5em 1.5em 0;
}

.intro-banner {
  background-image: url(./../images/mainimage2.jpg);
  background-color: #e2e28a;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 5px;
  margin-top: 0px;
  height: 520px;
  min-height: 350px;
  position: relative;
}

@media (min-width: 700px) {
  .intro-banner {
    margin-bottom: 20px;
  }
}

.intro-banner--textbox {
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 33%;
}

@media (min-width: 700px) {
  .intro-banner--textbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 35px;
    top: 35px;
    width: 24em;
    height: 24em;
    border-radius: 50%;
    padding: 60px;
  }
}

.intro-text {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3;
  color: #ffeed2;
  overflow: none;
  width: 90%;
  max-width: 550px;
  margin: 0 auto;
  padding: 1.3em 0;
}

@media (min-width: 700px) {
  .intro-text {
    padding: 3px 1px 13px 1px;
    text-align: center;
    margin: 0 auto .9em auto;
  }
}

.intro-banner--button {
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
}

.card-area,
.project-area {
  width: 95%;
  height: auto;
  margin: 1.5em auto;
}

@media (min-width: 700px) {
  .card-area,
  .project-area {
    margin: 50px auto;
  }
}

.flexcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card {
  /* Add shadows to create the "card" effect */
  -webkit-box-shadow: 4px 2px 8px 0 rgba(255, 238, 210, 0.2);
          box-shadow: 4px 2px 8px 0 rgba(255, 238, 210, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  max-width: 400px;
  height: auto;
  color: #171c21;
}

.card_skills {
  margin-bottom: 1.5em;
}

.card_project {
  margin: 2em 0;
}

@media (min-width: 700px) {
  .card_project {
    margin: 0 2em;
  }
}

/* On mouse-over, increase card size */
.card:hover {
  -webkit-transform: scale(1.03, 1.03);
          transform: scale(1.03, 1.03);
}

/* Add some padding inside the card container */
.card-textbox {
  padding: .5em 1em .9em 15px;
  background-color: white;
  min-height: 140px;
  position: relative;
}

.card-textbox--title {
  font-size: 1.3rem;
  margin: 5px 0;
}

.card-textbox--main {
  font-size: 1rem;
  margin: 5px;
}

.card-textbox--subtitle {
  font-size: .8rem;
}

.card-textbox--link {
  font-size: 1rem;
  font-weight: 300;
  margin: 5px;
  text-decoration: none;
  color: #96e654;
}

.card-textbox--button {
  border-radius: 10px;
  border-width: 1px;
  border-color: #a8a850;
  padding: .2em .5em;
  background-color: rgba(91, 146, 46, 0.8);
  font-weight: bold;
  font-size: 15px;
  margin: .7em auto .7em 0;
}

.card-textbox--button:hover {
  background-color: red;
}

.card-textbox--link:hover {
  color: black;
}

.pageMain {
  color: #ffeed2;
  width: 85%;
  margin: 1.5em auto;
}

@media (min-width: 700px) {
  .pageMain {
    height: 500px;
    padding: 30px 60px;
  }
}

.pageMain_header {
  padding-bottom: 40px;
  font-size: 3rem;
  font-weight: 400;
}

@media (min-width: 700px) {
  .pageMain_header {
    padding-bottom: 40px;
    font-size: 60px;
  }
}

.aboutme {
  clear: left;
}

.skillSection {
  margin: 3em auto;
  display: block;
}

.skillSection_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 700px) {
  .skillSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.skillArea {
  clear: both;
}

.skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  height: 90px;
  width: 90px;
}

.skill_text {
  margin: 0;
}

.skill--most-experience {
  color: #e2e28a;
}

.skill--some-experience {
  color: #e2e28a;
}

.skill_title_header {
  font-size: 1rem;
}

.skill_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: .5em auto 0 auto;
}

.skill_list li {
  margin-left: .5em;
}

.skill_1 {
  background-color: rgba(91, 146, 46, 0.5);
}

.skillSectionType {
  color: #171c21;
  padding: 1.4em;
  margin: 1.7em 0;
  border-radius: 7px;
}

@media (min-width: 700px) {
  .skillSectionType {
    margin: 0 1.5em;
  }
}

.skillSectionType ul {
  padding: 0;
  margin-bottom: 0;
}

.skillSectionType li {
  list-style-type: none;
  margin: 0.7em 0 0 0;
}

.skillSectionType_1 {
  background-color: #96e654;
}

.skillSectionType_2 {
  background-color: rgba(150, 230, 84, 0.8);
}

.skillSectionType_3 {
  background-color: rgba(150, 230, 84, 0.6);
}

.skillType_text {
  margin: 0 auto;
  font-size: 1.1rem;
  text-align: center;
}

.html5:before {
  content: url(/images/html.png);
  display: inline-block;
  padding-right: .5em;
}

#skill2::before {
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-color: blue;
  float: left;
  margin-right: 20px;
}

#skill3::before {
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-color: green;
  float: left;
  margin-right: 20px;
}

#skill4::before {
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-color: orange;
  float: left;
  margin-right: 20px;
}

#skill5::before {
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-color: purple;
  float: left;
  margin-right: 20px;
}

.github-logo {
  width: 12em;
  padding: .5em;
}

.navContainer {
  padding: 15px 0;
  width: 100%;
  border-bottom: solid .1px #ffeed2;
  font-size: .8rem;
  height: auto;
}

.navItems {
  width: 90%;
  margin: 0 auto;
  position: relative;
  height: auto;
}

.site-nav {
  margin: 0px;
  height: auto;
}

@media (min-width: 700px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.site-nav_small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-nav ul {
  margin: 0;
  padding: .3em;
  width: 100%;
}

@media (min-width: 700px) {
  .site-nav ul {
    width: auto;
    padding: .2em .1em;
  }
}

.nav {
  visibility: hidden;
  width: 100%;
  height: 0;
  text-align: center;
  font-size: .9rem;
}

@media (min-width: 700px) {
  .nav {
    visibility: visible;
    width: auto;
  }
}

.nav-item {
  padding: 2em;
  border-radius: 1px;
  margin: auto 0;
}

.nav-item:hover {
  background-color: rgba(150, 230, 84, 0.8);
}

.nav-item:hover a {
  color: #171c21;
}

.site-nav li {
  list-style: none;
  padding: .7em;
  width: 100%;
  display: block;
}

@media (min-width: 700px) {
  .site-nav li {
    display: inline-block;
    margin-right: 5px;
    width: auto;
    padding: .3em 1em;
  }
}

.nav-right {
  position: relative;
  width: 100%;
}

@media (min-width: 700px) {
  .nav-right {
    width: auto;
  }
}

.nav li a {
  color: #ffeed2;
  text-decoration: none;
  padding: .2em 1em;
  border-bottom: none;
  width: 100%;
  display: block;
}

@media (min-width: 700px) {
  .nav li a {
    width: auto;
    padding: 0;
  }
}

@media (min-width: 700px) {
  .nav li a:hover {
    color: #171c21;
  }
}

.active-nav {
  font-size: 145%;
}

/* brand */
.brand {
  font-size: .8rem;
  color: rgba(255, 238, 210, 0.5);
  padding: 0;
  width: 100%;
  font-weight: 300;
  text-decoration: none;
  padding: 10px 0;
}

@media (min-width: 700px) {
  .brand {
    font-size: 1rem;
  }
}

.brandContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0;
  border-radius: 50%;
  background-color: #ffeed2;
  color: #07282d;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
  position: absolute;
  right: 0;
  z-index: 10;
}

@media (min-width: 700px) {
  .nav-toggle {
    visibility: hidden;
  }
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: .75;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
  display: block;
  width: 100%;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 2px;
  background: #07282d;
}

.hamburger::before,
.hamburger::after {
  content: '';
  width: 100%;
}

.hamburger::before {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.hamburger::after {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

h1 {
  margin: 0;
}

footer {
  background-color: #171c21;
  color: #fff;
  width: 100%;
  margin-top: 20px;
  font-size: .7rem;
  text-align: center;
}

footer a {
  color: #fff;
}

.refer {
  display: block;
}

.card_link {
  text-decoration: none;
  color: #171c21;
}

.project_mainArea {
  margin: 3em auto;
}

@media (min-width: 700px) {
  .project_mainArea {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    row-gap: 5em;
  }
}

.project_mainArea_btn {
  background-color: #96e654;
  border: none;
  padding: .3em 1em;
  border-radius: 5px;
  font-weight: 600;
  color: #171c21;
  text-decoration: none;
}

.project_mainArea .project_btn-absolute {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.project_mainArea_resource-link {
  font-size: 1.1rem;
  font-weight: 300;
  margin: 5px;
  text-decoration: none;
  color: #96e654;
}

.projectSection {
  margin-bottom: 3em;
}

@media (min-width: 700px) {
  .projectSection--main2 {
    margin-left: 5em;
  }
}

.project_text--header {
  margin: auto, 0, auto, 0;
}

.project_text--subtitle {
  font-size: .8rem;
  margin-bottom: 2.5em;
}

.project_text--subtitle a {
  color: #e2e28a;
}

.project_text--p {
  font-weight: 200;
}
/*# sourceMappingURL=custom-style.css.map */