body, html{
	background-color: rgba(23, 28, 33, 1);
	margin-top: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
}

/* brand */

h1{
	margin: 0;
}

.group:after {
	content: "";
	display: table;
	clear: both;
  }


