body, html{
	background-color: rgba(23, 28, 33, 1);
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	
}

*, *::before, *::after {
	box-sizing: border-box;
}

img {
	width: 100%;
}

.noTopMargin {
	margin-top: 0;
}





// .group:after {
// 	content: "";
// 	display: table;
// 	clear: both;
//   }


