.intro-banner{
	// background-image: url(./../images/mainimage_large.jpg);
	// background-color: $mainLight;
	// background-size: cover;
	// background-repeat: no-repeat;
	// background-position: top center;
	border-radius: 5px;
	margin-top: 0px;
	height: auto;
	min-height: 600px;
	display: flex;
	flex-direction: column;

	
	
	// position: relative;

	@include atLarge {
		margin-bottom: 20px;
		flex-direction: row-reverse;
		padding: 50px 15px;
		justify-content: space-evenly;
		align-items: center;
	}

	@include atVeryLarge {
		min-height: 1400px;
	}
}

.intro-banner--profileImage {

		border-radius: 5px;
		width: 100%;
		// min-width:50%;
		height: auto;

		@include atLarge {
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			width: 450px;
			height: 450px;
			overflow:hidden;
			border: 6px solid $mainLight;
			margin: 60px;
		}

		img {
			height: 100%;

			@include atLarge {
				object-fit: cover;

			}

			@include atVeryLarge {
				width: auto;
				height: 100%;
			}

		}
	}

.intro-banner--textbox{
	// background-color: rgba(0,0,0,0.6);
	text-align: left;
	width: 100%;
	height: 33%;
	color: $mainLight;
	padding: 10px 30px;
	display: flex;
	flex-direction: column;
	// align-items: center;

	@include atLarge {
		justify-content: left;
		flex-direction: column;
		left: 3em;
		top: 3em;
		bottom: auto;
		width: 80%;
		height: 100%;
		max-width: 50%;
		// border-radius: 50%;	
		padding: 60px;
	}

	@include atVeryLarge {
		left: 9em;
		top: 10em;
		width: 40em;
		height: 40em;
	}

}

.intro-text{
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.3;
	color: $mainLight;
	overflow: none;
	width: 90%;
	max-width: 550px;
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;

	@include atLarge {
		font-size: 2rem;
		padding: 0 1px 13px 1px;
		text-align: left;
		margin: 0;
	}

	@include atVeryLarge {
		font-size: 2.5rem;
	}
}

.intro-subtext{
	font-size: 1rem;
	line-height: 1.5;
	width: 90%;
	text-align: center;

	@include atLarge {
		font-size: 1.4rem;
		text-align: left;
	}
}

.intro-banner--button {
	font-weight: 600;
	font-size: 1rem;
	margin: 0;

	a {
		@include atVeryLarge {
			font-size: 1.7rem;
		}
	}
}