.pageMain{
	color: $mainLight;
	width: 85%;
	margin: 1.5em auto;


	@include atLarge {
		height: 500px;
		padding: 30px 60px;
	}

	&_header {
	
	padding-bottom: 40px;
	font-size: 3rem;
	font-weight: 400;

	@include atLarge {
		padding-bottom: 40px;
		font-size: 60px;
	}
	}
}

