.card_link {
    text-decoration: none;
    color: $mainDark;
    
    
}

.project_mainArea {
    @include atLarge {
        display: flex;
        
    }

    &_btn {
        background-color: rgb(150, 230, 84);
        border: none;
        padding: .3em 1em;
        border-radius: 5px;
        font-weight: 600;
        color: rgba(23, 28, 33, 1);
        text-decoration: none;
    }

    &_resource-link {
    font-size: 1.1rem;
	font-weight: 300;
	margin: 5px;
	text-decoration: none;
	color: rgb(150, 230, 84);
    }
}



.projectSection {
    margin-bottom: 3em;

    // &--main {
        
    
    // }

    &--main2 {

        @include atLarge {
            margin-left: 5em;
        }
        
        
         
    }

    
}

.project_text {
    &--header {
       margin: auto, 0, auto, 0;
        
        
    }

    &--subtitle {
        font-size: .8rem;
        margin-bottom: 2.5em;

        a {
            color: rgb(226, 226, 138);
        }
    }

    &--p {
        font-weight: 200;
    }

}

// .project_mainArea a {
//     color: rgba(91, 146, 46, .8);
// }