.projectSection {
    margin: 2.5em 0;
}

.project_text {
    &--header {

        a {
            color: rgb(226, 226, 138);
        }
        
    }
    &--p {
        font-weight: 200;
    }
}

// .project_mainArea a {
//     color: rgba(91, 146, 46, .8);
// }