.skillsArea {
   
}

.skillSection {

    margin: 3em auto;

    &_group {
        display: flex;
        justify-content: space-between;
    }

    @include atLarge {
        
    }
}

.skillSection:hover {

    
}

.skill {
    width: 100%;
    max-width: 600px;
    min-width: 45%;

    @include atLarge {
        // width: 45%;
    }

    &--most-experience {
        
        color: rgb(226, 226, 138);
    }

    &--some-experience {
        
        color: rgb(226, 226, 138);
    }

    &_title {
        
        

        &_header {
            
            font-size: 1rem;
            
        }
    }

    &_1 {
        background-color: rgba(91, 146, 46, .5);
        border-radius: 50%;
        height: 80px;
        width: 80px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
    }
}



// #skill1::before{
//     content: "";
//     width: 60px;
//     height: 60px;
//     border-radius: 50%;
//     -webkit-border-radius: 50%;
//     -moz-border-radius: 50%;
//     background-color: red;
//     float: left;
//     margin-right: 20px;
//    } 
   
#skill2::before{
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: blue;
    float: left;
    margin-right: 20px;
    } 

#skill3::before{
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: green;
    float: left;
    margin-right: 20px;
} 

#skill4::before{
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: orange;
    float: left;
    margin-right: 20px;
} 

#skill5::before{
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: purple;
    float: left;
    margin-right: 20px;
} 