.skillsArea {
   
}

.skillSection {

    margin: 3em auto;

    &_group {
        display: flex;
        justify-content: space-between;
    }

    @include atLarge {
        
    }
}

.skillSection:hover {

    
}

.skill {
    width: 100%;
    max-width: 600px;

    @include atLarge {
        width: 45%;
    }

    &--most-experience {
        background-color: green;
        color: rgb(226, 226, 138);
    }

    &--some-experience {
        background-color: orange;
        color: rgb(226, 226, 138);
    }

    &_title {
        width: 100%;
        

        &_header {
            text-align: center;
            font-size: 1rem;
            
        }
    }
}



#skill1::before{
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: red;
    float: left;
    margin-right: 20px;
   } 
   
#skill2::before{
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: blue;
    float: left;
    margin-right: 20px;
    } 

#skill3::before{
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: green;
    float: left;
    margin-right: 20px;
} 

#skill4::before{
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: orange;
    float: left;
    margin-right: 20px;
} 

#skill5::before{
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: purple;
    float: left;
    margin-right: 20px;
} 